*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
    
}

/*********** Index Page************/
.fa-solid{
    color: white;
    font-size: 30px;
}

.video-container{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 8%;
        transition: 0.5s ease;
        position: fixed;
        transition: 0.6s;

}

header.sticky{
    padding: 20px 8%;
    background: #fff;
}

header.sticky .logo,
header.sticky ul li a{
    color: #000;
}

header .logo{
    font-size: 2em;
    color: white;
    font-weight: 700;
}

header .darkLogo a{
    font-size: 2em;
    color: black;
    font-weight: 700;
    text-decoration: none;
}

header .darkNav a{
    color: black;
    text-decoration: none;
    transition: .15s;
    &:hover{
        font-weight: bold;
        font-size: 1.4rem;
    }
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

.video-container nav ul a{
    text-decoration: none;
    color: white;
    transition: .15s;
    &:hover{
        font-weight: bold;
        font-size: 1.4rem;
    }
}


nav .cart-icon{
    position: relative;
    display: flex;

}

nav .cart-icon .cart-item-count{
    position: absolute;
    top: -6px;
    left: -6px;
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    line-height: 16px;
    text-align: center;
    display: none;
    align-items: center; 
    
}

#content{
    text-align: center;
}
#content h2{
    font-size: 2.5em;
    color: white;
    font-weight: 600;

}
#content a{
    text-decoration: none;
    display: inline-block;
    color: white;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 0.3s;
}

#content a:hover{
    background-color: white;
    color: black;
}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.products{
    width: 100%
}
.footer{
    margin: 200px auto 15px 0;
    text-align: center;
}

/*********** Products ************/
#product-collection{
    padding: 100px 9% 30px;
}

#product-collection h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 600;
    
}

#product-collection .product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    
}
#product-collection h1{
    margin-bottom: 80px;

}


#product-collection .img-box{
    display: flex;
    overflow: hidden;
}

#product-collection .img-box img{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    transition: 0.5s;
    z-index: -1;
}

#product-collection .img-box:hover img{
    transform: scale(1.1);
    z-index: -1;
}

#product-collection .title{
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

#product-collection .price{
    display: block;
    font-weight: bold;
    margin-top: 5px;
}

/*********** Product detail page ************/

.product-detail{
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 40px;
    padding: 130px 9% 30px;
}

.product-detail .product-img{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 12px;
    height: 550px;
}

.product-detail .product-img img{
    display: block;
    width: 100%;
}

.product-detail .thumbnail-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-detail .thumbnail-list img{
    height: calc(100% / 4 - 9px);
    cursor: pointer;
    object-fit: contain; /* This is the key to make the thumbnails fit the container. Removed from the main-img to avoid the image being cut off */
}

.main-img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-detail .title{
    font-weight: 600;
    line-height: 1;
    margin-bottom: 8px;
}

.product-detail .rating i{
    color: #e35f26
}

.product-detail .price{
    display: block;
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0;
}

.product-detail :is(.size-selection, .color-selection){
    margin: 20px 0;
}

.product-detail :is(.size-selection p, .color-selection p){
    margin-bottom: 10px;
}

.product-detail :is(.size-options, .color-options){
    display: flex;
    gap: 10px;
}

.product-detail .size-options button{
    width: 45px;
    height: 45px;
    background: white;
    border: 2px solid transparent;
    cursor: pointer;
}

.product-detail .color-options{
    width: 75px;
    height: 75px;
    border: 2px solid transparent;
    cursor: pointer;
}

.product-detail :is(.size-options .selected, .color-options .selected){
    border-color: #999;
}

.btn{
    padding: 12px 50px;
    background: #222;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.product-detail .product-policy{
    border-top: 1px solid #ccc;
    padding-top: 10px;
}


/*********** Shopping cart page ************/
.cart{
    padding: 110px 9% 30px;
}

.cart-header{
    display: flex;
    padding: 10px 0;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.cart-header span{
    flex: 1;
    text-align: center;
}

.cart-header span:first-child {
    flex: 3;
    text-align: left;
}

.each-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.each-item .product{
    display: flex;
    align-items: center;
    flex: 3;
}

.each-item img{
    width: 80px;
    margin-right: 10px;
}

.each-item .size-color-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    
}

.each-item .size{
    padding: 6px 12px;
    background: #f2f2f2;
    font-size: 14px;
}

.each-item :is(.price, .quantity, .total-price){
    flex: 1;
    text-align: center;
}

.each-item .quantity input{
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
    text-align: center;
}

.each-item .remove{
    background: transparent;
    border: none;
    flex: 1;
}

.each-item .remove i{
    font-size: 20px;
    border: none;
    cursor: pointer;
}


.cart-total{
    width: 400px;
    margin: 50px 0 0 auto;

}

.cart-total h3{
    margin-bottom: 15px;

}

.cart-total p{
    margin-bottom: 15px;
    justify-content: space-between;
}

.cart-total p:not(:last-of-type){
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.cart-total .btn{
    display: block;
    padding: 12px 30px;
    margin: 30px 0 0 auto;
}

/*********** Responsive design ************/

@media (min-aspect-ratio:16/9){
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9){
    .background-clip{
        width: auto;
        height: 100%;
    }
}




@media screen and (max-width: 940px) {
    .cart-header {
        display: none;
    }

    .product-detail{
        grid-template-columns: 1fr;
        padding: 100px 5% 30px;
        
    }

    .main-img-wrapper{
        max-width: 80%;
        margin: 0 auto;
        z-index: -1;
    }

    .product-detail .product-img{
        grid-template-columns: 1fr;
        height: auto;
    }

    .product-detail .thumbnail-list{
        flex-direction: row;
        justify-content: center;
        gap: 8px;
        
    }

    .product-detail .thumbnail-list img{
        height: 100px;
        width: auto;
        object-fit: cover;
    }
    
    .product-detail .product-img .main-img{
        order: 1;
        margin: auto;
    }

    .product-detail .product-img .thumbnail-list{
        order: 2;
    }

    .each-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 0;
        gap: 10px;
    }


    .each-item .product {
        order: 1;
    }

    .each-item .price {
        order: 2;
    }

    .each-item .quantity {
        order: 3;
    }

    .each-item .remove {
        order: 4;
    }

    .each-item .total-price {
        display:none;
    }

    .each-item .product {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .each-item img {
        width: 150px;
        height: auto;
        margin-right: 10px;
    }

    .each-item .item-detail {
        flex: 1;
    }

    .each-item .size{
        padding: 0;
        font-size: 16px;
        background-color: white;
        margin-bottom: 5px;
}

    .each-item .size-color-box {
        flex-direction: column;
        gap: 6px;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    




    .each-item .price,
    .each-item .quantity,
    .each-item .total-price,
    .each-item .remove {
        text-align: left;
        width: 100%;
        margin: 4px 0;
    }

    .each-item .quantity input {
        width: 100%;
        max-width: 100px;
    }

    .cart-total {
        width: 100%;
        padding: 0;
        margin: 30px 0 0;
    }

    .cart-total .btn {
        width: 100%;
        padding: 14px;
    }

    .each-item span.price::before{
        content: "Price: ";
        font-size: 1rem;
        color: #333;
        font-weight: bolder;
    }
    
    .each-item span.total-price::before{
        content: "Total: ";
        font-size: 1rem;
        color: #333;
        font-weight: bolder;
    }

    .each-item .remove {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 6px;
        width: 100%;
        font-size: 16px;
        color: #333;
    }

    .each-item .remove::after {
        content: "Remove";
        font-size: 14px;
        color: #333;
        cursor: pointer;
    }
}


@media screen and (max-width: 768px) {
    .cart-header {
        display: none;
    }

    .product-detail{
        grid-template-columns: 1fr;
        padding: 100px 5% 30px;
    }

    .product-detail .product-img{
        grid-template-columns: 1fr;
        height: auto;
    }

    .product-detail .thumbnail-list{
        flex-direction: row;
        justify-content: center;
        gap: 8px;
        
    }

    .product-detail .thumbnail-list img{
        height: 100px;
        width: auto;
        object-fit: cover;
    }

    

    .product-detail .product-img .thumbnail-list{
        order: 2;
    }

    .each-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 0;
        gap: 10px;
    }


    .each-item .product {
        order: 1;
    }

    .each-item .price {
        order: 2;
    }

    .each-item .quantity {
        order: 3;
    }

    .each-item .remove {
        order: 4;
    }

    .each-item .total-price {
        display:none;
    }

    .each-item .product {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .each-item img {
        width: 150px;
        height: auto;
        margin-right: 10px;
    }

    .each-item .item-detail {
        flex: 1;
    }

    .each-item .size-color-box {
        gap: 6px;
        flex-wrap: wrap;
    }

    




    .each-item .price,
    .each-item .quantity,
    .each-item .total-price,
    .each-item .remove {
        text-align: left;
        width: 100%;
        margin: 4px 0;
    }

    .each-item .quantity input {
        width: 100%;
        max-width: 100px;
    }

    .cart-total {
        width: 100%;
        padding: 0;
        margin: 30px 0 0;
    }

    .cart-total .btn {
        width: 100%;
        padding: 14px;
    }

    .each-item span.price::before{
        content: "Price: ";
        font-size: 1rem;
        color: #333;
        font-weight: bolder;
    }
    
    .each-item span.total-price::before{
        content: "Total: ";
        font-size: 1rem;
        color: #333;
        font-weight: bolder;
    }

    .each-item .remove {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 6px;
        width: 100%;
        font-size: 16px;
        color: #333;
    }

    .each-item .remove::after {
        content: "Remove";
        font-size: 14px;
        color: #333;
        cursor: pointer;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 10px 5%;
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        padding-top: 10px;
    }

    nav ul li {
        margin-left: 20px;
    }

    .each-item img {
        width: 50px;
    }

    .cart-total p,
    .cart-total h3 {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        padding: 10px 20px;
    }
}

